[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
sqlalchemy = "*"
sqlalchemy-utils = "*"
passlib = "*"
bcrypt = "*"
apistar-sqlalchemy = "*"
apistar = "*"

[dev-packages]
pytest = "*"
pytest-watch = "*"

[requires]
python_version = "3.6"
