[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
sqlalchemy = "*"
sqlalchemy-utils = "*"
passlib = "*"
bcrypt = "*"
apistar-sqlalchemy = "*"
apistar = ">=0.5"

[dev-packages]
clinner = "*"
coverage = "*"
prospector = "*"
pytest = "*"
pytest-cov = "*"
pytest-watch = "*"
tox = "*"
"psycopg2" = "*"
python-dateutil = "*"

[requires]
python_version = "3.6"
